// Gerneral Color

$background : #ebebeb;
$header-color : #333333;
$primary-color : #2b3139;
$darkpanel-background : #1d232a;
$secondary-color : #43c19c;
$comment-background : #459bf2;
$bluepanel-background : #3a85d2;
$select-tab-border : #57f3c5;
$redpanel-header : #e84871;
$redpanel-background : #cf3f64;
$paragraph-color : #ccc;
$icon-background : #282f36;

// Google Font

@import url('https://fonts.googleapis.com/css?family=EB+Garamond');

//Fonts

$logo-font : 'EB Garamond', serif;